@import url("https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap");

body {
  font-family: "Snowburst One", system-ui, serif;
  background-color: #f0f0f0;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

#main-header {
  grid-area: header;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

#main-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main-nav ul li {
  padding: 10px;
}

#main-nav ul li:hover {
  background-color: #4d5a93;
  border-radius: 5px;
}

.active {
  background-color: #4d5a93;
  border-radius: 5px;
}

#main-footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#introduction {
  grid-area: main;
  text-align: center;
  height: 72vh;
  padding: 20px 50px;
  overflow: scroll;
}

/* hide each section by default */
#science,
#hemispheres,
#celebrations,
#traditions,
#conclusion {
  grid-area: main;
  display: none;
  text-align: center;
  height: 72vh;
  padding: 20px 50px;
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  #main-nav ul {
    flex-direction: column;
  }
  #introduction {
    padding: 0 20px;
  }
}
