@import url("https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap");

body {
  font-family: "Snowburst One", system-ui, serif;
  background-color: #f0f0f0;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

#main-header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

#main-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main-nav ul li {
  padding: 10px;
}

#main-nav ul li:hover {
  background-color: #555;
}

#main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* hide each section by default */
#science,
#hemispheres,
#celebrations,
#traditions,
#conclusion {
  display: none;
}

@media screen and (max-width: 600px) {
  #main-nav ul {
    flex-direction: column;
  }
}
